/*.container .col-md-12 .left{

position: left !important;
margin: 0px;
padding: 0px;

}*/

.container .col-md-12 .home_page_photo{
	width: 100%;
	height: 160px !important;
}


.pager .active a{

color: #fff;
background: #6c58bF;
-webkit-background: #D1D9D4;

}

.pager li > a, .pager li > span{

border-radius: 5px !important;
-webkit-border-radius: 5px;
}
/*.pager .active a:focus,*/
.pager .active a:hover{
/*color: #000;*/
background: #6c58bF !important;

}

